* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin:  auto;
}

nav {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: #515150;  
}

nav ul {
  margin: 0 50px;
}

nav ul li {
  display: inline-block;
  margin: 25px 50px;  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 3px solid #ffe100;
  padding-bottom: 3px;
  border-radius: ;
}

/* Welcome Section */

#welcome-section {
  top: 0;
  background-color: #515150;
  height: 100vh;
  padding-top: 45vh;
  text-align: center;
  color: #fff;
  min-height: 55vh;  
  font-family: Patua One;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 
}

.name {
  color: #d8ff00;
}

.button {
  padding: 10px;
  margin: 10px auto;
  font-family: Arial;
  font-size: 20px;
  background-color: #777;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

/* Portfolio Section */

#projects {
  font-family: IBM Plex Sans;
  text-align: center;
  margin-top: ;
  display: ;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding-top: 60px;
}

#projects h2 {
  padding-top: ;
}

.all {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}

.project-tile {
  display: block flex;
  width: 700px;
  height: auto;
  margin: 40px 10px 20px 10px;
  justify-content: center;
  text-align: center;
}

.project-img {
  display: block;
  width: 100%;
}

.desc {
  margin-top: 10px;
}

.more {
  padding-bottom: 16px;
}

/* Contact */

#contact {
  background-color: #bad4ff;
  text-align: center;
  display: block flex;
  flex-direction: row;
  color: #000;
  padding: 150px;  
}

.promote {
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.promote h3 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 10px ;
  font-family: Lalezar;
}

.promote p {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: ubuntu;
}

.promote button {
  height: 55px;
  width: 140px;
  background-color: #eee;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#social {
  font-size: 25px;
  display: flex;
  justify-content: center;  
}

#social a {
  text-decoration: none;
}

/*Icons of each social site*/

.icons {
  margin: 30px 20px;
  display: block;
}

.icons p {
  font-size: 15px;
  color: #000;
}

.fcc {
  color: #306033;
}

.twitter {
  color: #00a9ff;
}

.facebook {
  color: #0936c6;  
}

.instagram {
  color: #990ad6;
}

.github {
  color: #000;
}

.email {
  color: #ffaa00;
}

/* Footer */
footer {
  height: 50px;
  background-color: #515150;
  color: #fff;
  text-align: center;
}

footer p {
  padding-top: 15px;
}

footer span {
  text-decoration: none;
  color: #d8ff00;
  font-weight: bold;
}

/* Media query */

@media only screen and (max-width: 800px) {
  nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  nav ul li {
    margin: 10px;
  }
  
  #projects {
    width: 75%;
    margin: 40px auto 20px auto;
  }
  
  .project-tile {
    width: 100%;
    margin: 15px auto;
  }
  
  .desc {
    font-size: 14px;
  }
  
  .project-img {
    width: 100%;
  }
  
  .all {
    display: flex;
    flex-direction: column;
  }  
  
  #contact {
    padding: 30px;    
  }
  
  .promote h3 {
    font-size: 26px;
  }
  
  .promote p {
    font-size: 16px;
  }
  
  #social {
    flex-flow: column;
    margin-top: -30px;
    padding-top: 30px;
  }
  
  .icons {
    margin: 10px;    
  }  


